<ion-view view-title="Support">
	<ion-content>
		<div class="list">
			<a ng-click="openModalfaq()" class="item">
				FAQ
			</a>
			<a ng-click="openModalemailcontact()" class="item">
				Email Contact
			</a>
		</div>
	</ion-content>
</ion-view>
