.mainBody>div{
	height:100% !important; 
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.otf);
}

.font_normal{
	font-family: Montserrat-Regular !important;
}

.title.header-item{
	text-align:left !important;
}

.font_light{
	font-family: Montserrat-Light !important;
}
.font_bold{
	font-family: Montserrat-Bold !important;
}

.background_color{
	background:#5d6e88 !important;
}

.background_gray{
	background:#d1d1d1 !important;
}

.background_white{
	background:#fff !important;
}


.profilepic{
	width:100px !important;
	height:100px !important;
	border-radius:100% !important;
	margin:0 auto !important;
}


.logo{
	padding:5% 0 !important;
}

.logo img{
	    width: 45% !important;
    margin: 0% 28% !important;
}

.no_background{
	background:none !important;
	border:none !important;
	box-shadow:none !important;
}



.no_padding{
	padding:0px !important;
}
.no_margin{
	margin:0px !important;
}

.padding5{
	padding:5px !important;
}


.padding10{
	padding:10px !important;
}

.login-icon{
	font-size:30px !important;
	line-height:0px !important;
}

.paddingLR10{
	padding-left:10px !important;
	padding-right:10px !important;
}

.facebook_color{
	background:#43609c !important;
	color:#fff !important;
}

.button_color{
	background:#43749A !important;
	color:#fff !important;
}

.border_color{
	border:1px solid #5d6e88 !important;
}

.lineheight40{
	line-height:40px !important;
}

.marginTB5{
	margin-top:5px !important;
	margin-bottom:5px !important;
}
.border_bottom{
	border-bottom:1px solid #4f6079 !important;
}


.text_color{
	color: #5d6e88 !important;
}

.text_green{
	color:#d3ed72 !important;
}

.text_white{
	color: #fff !important;
}
.text_dark{
	color:#333 !important;
}


.game-icon{
	width:70px !important;
	height:70px !important;
	float:left !important;
	margin-right:15px !important;
	border-radius:100% !important;
	padding:15px !important;
}
.profile-icon{
	min-width:45px !important;
	min-height:45px !important;
	max-width:80px !important;
	max-height:80px !important;
	float:left !important;
	margin-right:12px !important;
	border-radius:100% !important;
	padding:15px !important;
	border:2px solid #fff;
}
.game-fram{
	width:100%;
	position:relative !important;
	padding:25px 0 !important;
}

.player1-profile{
	position:absolute !important;
	top:3px !important;
	left:43% !important;
	width:50px !important;
	height:50px !important;
	margin-right:12px !important;
	border-radius:100% !important;
	padding:15px !important;
	border:3px solid #fff;
}

.player2-profile{
	position: absolute !important;
    bottom: 6.9%;
    left: 44.2% !important;
    margin-right: 12px !important;
    border-radius: 100% !important;
    padding: 0px !important;
}
.game-mainbox{
	height:160px !important;
	width:94% !important;
	background:#4aab5f !important;
	margin:0 3% !important;
	border-radius:80px !important;
	border:5px solid rgba(255, 255, 255, 0.7) !important;
}

.ques-icon{
	width:80px !important;
	height:80px !important;
	margin:0 auto !important;
	border-radius:100% !important;
	padding:15px !important;
}
.profile-title{
	color:#fff !important;
	font-size:16px !important;
	font-weight:bold;
}

.profile-dis{
	color:rgba(255, 255, 255, 0.6) !important;
	font-size:12px !important;
}


.game-title{
	margin-top:15px !important;
	font-size:20px !important;
	color:#333 !important;
}

.flipbox{
	-webkit-transform-style: preserve-3d !important;
	-webkit-transition: 1s !important;
}

.flipbox.flipped {
  -webkit-transform: rotatey(-360deg) !important;
}

.flipbox.back {
  -webkit-transform: rotatey(0deg) !important;
}

.game-dis{
	font-size:14px !important;
	color:#c3c3c3 !important;
}
.text_red{
	color:#f00 !important;
}

.text_gray{
	color:#c3c3c3 !important;
}

.fs-8{
	font-size:8px !important;
}

.fs-10{
	font-size:10px !important;
}
.fs-16{
	font-size:16px !important;
}

.fs-14{
	font-size:14px !important;
}

.fs-20{
	font-size:20px !important;
}
.fs-26{
	font-size:20px !important;
}

.fs-30{
	font-size:30px !important;
}

.fs-12{
	font-size:12px !important;
}

.pull_right{
	position:absolute !important;
	top:10px !important;
	right:10px !important;
}
.pull_left{
	position:absolute !important;
	top:10px !important;
	left:5px !important;
}
.pull_bottom{
	width:100% !important;
	position:absolute !important;
	bottom:0px !important;
}

.marginright20{
	margin-right:20px !important;
}

.marginleft20{
	margin-right:20px !important;
}
.paddingTB50{
	padding:50px 0 !important;
}
.paddingTB30{
	padding:30px 0 !important;
}
.paddingTB20{
	padding:20px 0 !important;
}
/* Color Them  */

.color_green{
background: #92ef9d !important; /* Old browsers */
background: -moz-linear-gradient(top,  #92ef9d 1%, #33dd55 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#92ef9d), color-stop(100%,#33dd55)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #92ef9d 1%,#33dd55 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #92ef9d 1%,#33dd55 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #92ef9d 1%,#33dd55 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #92ef9d 1%,#33dd55 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92ef9d', endColorstr='#33dd55',GradientType=0 ) !important; /* IE6-9 */
}

.color_red{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea7272+1,ea1212+100 */
background: rgb(234,114,114) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(234,114,114,1) 1%, rgba(234,18,18,1) 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(234,114,114,1)), color-stop(100%,rgba(234,18,18,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(234,114,114,1) 1%,rgba(234,18,18,1) 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(234,114,114,1) 1%,rgba(234,18,18,1) 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(234,114,114,1) 1%,rgba(234,18,18,1) 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(234,114,114,1) 1%,rgba(234,18,18,1) 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea7272', endColorstr='#ea1212',GradientType=0 ) !important; /* IE6-9 */

}

.br{
	border-radius:8px !important;
}

.br80{
	border-radius:80px !important;
}

.br-T-LR{
	border-radius:8px 8px 0px 0px !important;
}
.br-B-LR{
	border-radius:0px 0px 8px 8px !important;
}
.br-8{
	padding : 0px !important;
}
.marginLR10{
	margin:0 10px !important;
}
.padding20{
	padding:20px !important;
}

.padding10{
	padding-top:20px !important;
	padding-bottom:20px !important;
}

.marginT10{
	margin:10px 0 0 !important;
}

.paddingTB5{
	padding:4px 0 !important;
}

.centerNumber{
	    width: 50px;
    height: 50px;
    position: absolute;
    top: 70px;
    left: 43%;
    z-index: 9999;
    background: #d6706f;
    padding: 16px 0px;
    border-radius: 100%;
    color: #fff;
    margin: 0 auto !important;
    text-align: center;
    font-size: 20px;
}

.height100{
	height:100% !important;
}

.height30{
	height:30% !important;
}

.height40{
	height:40% !important;
}

.height35{
	height:35% !important;
}

.height20{
	height:20% !important;
}

.height70{
	height:70% !important;
}

.editPencil {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{
	left:12% !important;
}
.backgroundEven:nth-child(even){
	background: #FFF !important;
}
.backgroundEven:nth-child(odd){
	background: #f9fafc !important;
}
.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive{
	background: #c9e950 !important;
}
.leaderName{
	padding: 3% 12% !important;
	width: 90% !important;
}
.relative{position:relative;}
.cards_position{position: absolute;
    bottom: 25%;
    left: 3%;}

    @media only screen and (min-width:620px) and (max-width: 730px)  {
    	.cards_position{left: 10%; bottom: 30%;	}6    }

     @media only screen and (min-width:730px) and (max-width:900px)  {
    	.cards_position{left: 15%; bottom: 33%;	}
    }


     @media only screen and (min-width:900px) and (max-width:1700px)  {
    	.cards_position{left: 28%; bottom: 35%;	}
    }