<style>.popup-body{background:#fff; border-radius:8px !important; }.popup-head { padding:0px !important; border:none !important;}</style>
<div class="br-8">
	<div style="padding-top:20px;">
		<div class="row"> 
			<div class="col col-100 text-c" > 
				<label class="item padding5 paddingLR10 no_background item-input text_color border_color">
				<i class="icon login-icon text_color ion-ios-person-outline placeholder-icon"></i>
				<input type="text" class="text_color" ng-model="nickname" placeholder=" Enter Your NickName">
			  </label>
			</div>
		</div>

		<!-- <div class="row">
			<div class="col col-100" > 
			<button ng-click="facebookLoginClose(nickname)" class="button button-full button-outline text_color border_color" style="border-radius:8px 8px 8px 8px; background:#43749A !important;
		color:#fff !important;" >
				Save
			</button>
		</div> -->
	</div>
</div>