<ion-view view-title="Leaderboard">
	<ion-content scroll="false">
		<div class="list">
			<a class="item item-avatar" ng-repeat="leaderboard in leaderboards track by $index" style="">
				<img src="img/profilepic.jpg">
				<h2 class="text_dark fs-16">{{leaderboard.user_id.fullname}}</h2>
				<!-- <p class="font_light fs-12">{{leaderboard.question_attempt}} out of 10 questions</p>
				<p class="font_light text_green fs-12">Right Questions: {{leaderboard.right_question}}</p>
				<p class="font_light text_red fs-12">Wrong Questions: {{leaderboard.wrong_question}}</p> -->
				<span class="item-note pull_right fs-30" style="top:25px !important; color:#c9e950 !important;">
					{{leaderboard.total_point}}
				</span>
			</a>
			
		</div>
	</ion-content>
</ion-view>
