<ion-view view-title="My Score">
	<ion-content scroll="false">
		<div class="list card">
			<a class="item text-center item-text-wrap background_gray">
				<h3 class="color_dark">Your Score</h3>
				<h1 class="color_green text_white">{{myScore}}</h1>
			</a>
		</div>
	</ion-content>
</ion-view>
