<ion-view view-title="Topics">
	<!-- <ion-header class="bar header-bar background_color">
		<button onclick="javascript:history.go(-1)" class="button button-clear icon ion-arrow-left-c text_white"></button>
		<h1 class="title"></h1>
	</ion-header> -->
	<ion-content scroll="false" style="background:#eaedf2 !important;">
		<div class="row background_color">
			<div class="col col-100">
				<div class="profile-icon" style="background:url('img/{{playerdetails.pic}}') no-repeat center; background-size:110%;">
				</div>
				<h2 class="font_normal no_margin profile-title" style="margin-top:5px !important;">{{playerdetails.name}}</h2>
				<p class="font_light no_margin profile-dis fs-14">{{resCount}} out of {{totaleQuestion}}</p>
				<br />
				<p class="no_margin"><i ng-repeat="result in resultdata track by $index" class="icon ion-record fs-20" ng-class="setcolor(result.result)" style="margin:0 5px;"></i></p>
			</div>
			<!-- <div class="col col-50 text-right">
				<div class="profile-icon" style="background:url('img/profilepic.jpg') no-repeat center; float:right !important; background-size:110%; margin:0 12px 0 0 !important;">
				</div>
				<h2 class="font_normal no_margin profile-title" style="margin-right:70px !important; margin-top:5px !important;">Aria S</h2>
				<p class="font_light no_margin profile-dis" style="margin-right:70px !important;">6 out of 10</p>
				<br />
				<p class="no_margin"><i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_gray fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_green fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;<i class="icon ion-record text_red fs-10"></i>&nbsp;</p>
			</div> -->
			<!-- <div class="centerNumber">
				
			</div> -->
		</div>
		<div class="card">
			<div class="item text-center text_color font_bold item-text-wrap">	
				<h4 class="fs-16">Your Score: </h4>
				<br />
				<h1 class="text_red fs-20">{{resCount}}</h1>
			</div>
		</div>
		<br />
		<br /><br />
		<button ui-sref="nav.home" class="button button-block background_color text_white" style="width:80%; margin:0 10%;">Go to Home</button>
	</ion-content>
</ion-view>
