<ion-view view-title="Leaderboard">
	<ion-content scroll="true" overflow-sroll="true">
		<div class="list">
			<a class="item item-avatar backgroundEven item-text-wrap" ng-repeat="leaderboard in leaderboards | orderBy:'-total_point' track by $index" ng-if="leaderboard.user_id!=null" style="">
				<img ng-if="!leaderboard.user_id.avator" ng-src="img/profilepic.jpg">
				<img ng-if="leaderboard.user_id.avator" ng-src="{{leaderboard.user_id.avator}}">
				<span class="pull_left fs-24" style="color:#333 !important;top:25px !important;">
					{{$index+1}}
				</span>
				<h2 class="text_dark fs-16 leaderName">
					<span ng-if="leaderboard.user_id._id!=mainUserId" >{{leaderboard.user_id.fullname}}</span>
					<span ng-if="leaderboard.user_id._id==mainUserId" >You</span>
				</h2>
				<span class="item-note pull_right fs-26" style="top:25px !important; color:#c9e950 !important;">
					{{leaderboard.total_point}}
				</span>
			</a>
			<!-- <a class="item item-icon-left no_background" style="background: #f9fafc !important;height: 60px !important;">
			    <i class="icon ion-more fs-30" style="color:#cdd4de !important;"></i>
			    <span class="badge badge-assertive" style="padding: 6px 10px 6px 10px !important;">SEE All</span>
			</a> -->
		</div>
	</ion-content>
</ion-view>
